apiVersion: v1
data:
  system_uuid: {{ system_uuid | b64encode }}
  user_cert.pem: {{ user_cert_pem | b64encode }}
  user_key.pem: {{ user_key_pem | b64encode }}
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
type: Opaque
